<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="C:\tmp\nlog-xml-loader-log.txt">
  <targets>
    <target xsi:type="Console" name="ConsoleTarget" layout="${date}|${level:uppercase=true}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="SQLTarget" />-->
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
  </rules>
</nlog>